<html>
    <head>
        <title>Score Keeper</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>	
        <link rel="stylesheet" type="text/css" href="../styles/score.css">
    </head>
    <body>
        <div class="container text-center">
            <h1><%- team1 %> vs. <%- team2 %></h1>
            <h2><span id="p1-display">0</span> - <span id="p2-display">0</span></h2>
            <button id="p1-add">+1</button>
            <button id="p1-two">+2</button>
            <button id="p1-three">+3</button>
            <button id="p1-minus">-</button>
            <button id="p2-add">+1</button>
            <button id="p2-two">+2</button>
            <button id="p2-three">+3</button>
            <button id="p2-minus">-</button>
            <p id="winner-display" hidden> <%- game_id %> </p>
            
            <p></p>
            <div class="yug">
                <button id="foul1">Team 1 foul: 0</button>
                <button id="foul2">Team 2 foul: 0</button>
            </div>
            <div class="yug">
                <button id="rebound1">Team 1 rebounds: 0</button>
                <button id="rebound2">Team 2 rebounds: 0</button>
            </div>
            <div class="yug">
                <button id="timeout1">Team 1 timeouts: 0</button>
                <button id="timeout2">Team 2 timeouts: 0</button>
            </div>
            <!-- <input type="number" value="5" class="text-center"> -->
            <form action="/complete" method="post">
                <input type="text" name="team1_score" id="team1_form_score" hidden value=0 >
                <input type="text" name="team2_score" id="team2_form_score" hidden value=0 >
                <input type="text" name="team1_fouls" id="team1_form_fouls" hidden value=0 >
                <input type="text" name="team2_fouls" id="team2_form_fouls" hidden value=0 >
                <input type="text" name="game_id" id="game_id" hidden value=<%- game_id %> >
                <button id="reset" class="text-center" name="foo">END GAME</button>
            </form>
        </div>
        <script type="text/javascript" src="../score.js"></script>
    </body>
</html>
